<main>
  <div class="container">
    <div class="row">
      <%= render partial: 'users/user_info', locals: { user: @user, book: @book } %>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag @books.user, :profile_image, fallback: "no_image.jpg", size: "40x40" %>
                <%= link_to @books.user.name, user_path(@user) %>
              </td>
              <td>
                <%= link_to @books.title, book_path(@books) %>
              </td>
              <td>
                <%= @books.opinion %>
              </td>
              <% if @user.id == current_user.id %>
                <td>
                  <%= link_to "Edit", edit_book_path(@books) %>
                </td>
                <td>
                  <%= link_to "Destroy",book_path(@books),confirm: '本当に消しますか？', method: :delete %>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>